In [73]:
import numpy as np
import pandas as pd

## Chapter 3

In [14]:
names = ['Sima', 'Gabe', 'Juste']
print(names[0])
print(names[1])
print(names[2])

Sima
Gabe
Juste

In [15]:
message = 'Sveika atvykusi i Praha, {}!'
print(message.format(names[0]))
print(message.format(names[1]))
print(message.format(names[2]))

Sveika atvykusi i Praha, Sima!
Sveika atvykusi i Praha, Gabe!
Sveika atvykusi i Praha, Juste!

In [16]:
recipies = ['pasta', 'pizza', 'chocolate cake']
print(f'I would like to make a {recipies[2]} today.')

I would like to make a chocolate cake today.

In [17]:
dinner_guests = ['Oscar Wilde', 'Virginia Woolf', 'Bill Gates']
dinner_invitation = '{}, please come to my party!'
print(dinner_invitation.format(dinner_guests[0]))
print(dinner_invitation.format(dinner_guests[1]))
print(dinner_invitation.format(dinner_guests[2]))

Oscar Wilde, please come to my party!
Virginia Woolf, please come to my party!
Bill Gates, please come to my party!

In [18]:
cannot_come = dinner_guests[2]
print(f'{cannot_come} cannot come to the party.')

Bill Gates cannot come to the party.

In [19]:
dinner_guests[2] = 'Pocahontas'
print(dinner_invitation.format(dinner_guests[0]))
print(dinner_invitation.format(dinner_guests[1]))
print(dinner_invitation.format(dinner_guests[2]))

Oscar Wilde, please come to my party!
Virginia Woolf, please come to my party!
Pocahontas, please come to my party!

In [20]:
print(f'{dinner_guests[0]}, {dinner_guests[1]}, {dinner_guests[2]}, I found a bigger dinner table.')

Oscar Wilde, Virginia Woolf, Pocahontas, I found a bigger dinner table.

In [21]:
dinner_guests.insert(0, 'Tilly')
dinner_guests.insert(2, 'Thanos')
dinner_guests.append('Iron Man')

for guest in dinner_guests:
    print(dinner_invitation.format(guest))

Tilly, please come to my party!
Oscar Wilde, please come to my party!
Thanos, please come to my party!
Virginia Woolf, please come to my party!
Pocahontas, please come to my party!
Iron Man, please come to my party!

In [22]:
print('I can invite only 2 people for dinner.')

I can invite only 2 people for dinner.

In [23]:
while len(dinner_guests) > 2:
    not_invited = dinner_guests.pop()
    print(f'I am sorry, {not_invited}, but I have take my invitation back.')

I am sorry, Iron Man, but I have take my invitation back.
I am sorry, Pocahontas, but I have take my invitation back.
I am sorry, Virginia Woolf, but I have take my invitation back.
I am sorry, Thanos, but I have take my invitation back.

In [24]:
for guest in dinner_guests:
    print(f'{guest}, you are still invited!')

Tilly, you are still invited!
Oscar Wilde, you are still invited!

In [25]:
del dinner_guests[1]
del dinner_guests[0]
print(dinner_guests)

[]

In [29]:
places_to_visit = ['Japan', 'Cuba', 'New Zealand', 'New York', 'Iceland']
print(places_to_visit, '\n')

print(sorted(places_to_visit))
print(places_to_visit, '\n')

print(sorted(places_to_visit, reverse=True))
print(places_to_visit, '\n')

places_to_visit.reverse()
print(places_to_visit, '\n')

places_to_visit.reverse()
print(places_to_visit, '\n')

places_to_visit.sort()
print(places_to_visit, '\n')

places_to_visit.sort(reverse=True)
print(places_to_visit, '\n')

['Japan', 'Cuba', 'New Zealand', 'New York', 'Iceland']

['Cuba', 'Iceland', 'Japan', 'New York', 'New Zealand']
['Japan', 'Cuba', 'New Zealand', 'New York', 'Iceland']

['New Zealand', 'New York', 'Japan', 'Iceland', 'Cuba']
['Japan', 'Cuba', 'New Zealand', 'New York', 'Iceland']

['Iceland', 'New York', 'New Zealand', 'Cuba', 'Japan']

['Japan', 'Cuba', 'New Zealand', 'New York', 'Iceland']

['Cuba', 'Iceland', 'Japan', 'New York', 'New Zealand']

['New Zealand', 'New York', 'Japan', 'Iceland', 'Cuba']

In [30]:
len(places_to_visit)

5

## Chapter 4

In [31]:
pizzas = ['calzone', 'vezuvijaus', 'roma']

for pizza in pizzas:
    print(pizza.title())

Calzone
Vezuvijaus
Roma

In [34]:
statement = '{} is the best pizza!'

for pizza in pizzas:
    print(statement.format(pizza.title()))
    
print('\nI like burgers more...')

Calzone is the best pizza!
Vezuvijaus is the best pizza!
Roma is the best pizza!

I like burgers more...

In [37]:
pets = ['dog', 'cat', 'hamster']
pet_statement = 'A {} has 4 legs.'

for pet in pets:
    print(pet_statement.format(pet))
    
print('\nAll those animals are happy at home.')

A dog has 4 legs.
A cat has 4 legs.
A hamster has 4 legs.

All those animals are happy at home.

In [42]:
for number in range(1, 21):
    print(number, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
for number in range(1, 1000001):
    print(number, end=' ')

In [43]:
million_list = [x for x in range(1, 1000001)]

print(min(million_list))
print(max(million_list))
print(sum(million_list))

1
1000000
500000500000

In [45]:
odd_numbers = range(1, 21, 2)

for number in odd_numbers:
    print(number, end=' ')

1 3 5 7 9 11 13 15 17 19

In [47]:
multiples_of_3 = range(3, 31, 3)

for multiple_of_3 in multiples_of_3:
    print(multiple_of_3, end=' ')

3 6 9 12 15 18 21 24 27 30

In [48]:
cubes = [x**3 for x in range(1, 11)]

for cube in cubes:
    print(cube, end=' ')

1 8 27 64 125 216 343 512 729 1000

In [51]:
print('The first three items in the list are: ', cubes[:3])
print('Three items from the middle of the list are: ', cubes[2:5])
print('The last three items in the list are: ', cubes[-3:])

The first three items in the list are:  [1, 8, 27]
Three items from the middle of the list are:  [27, 64, 125]
The last three items in the list are:  [512, 729, 1000]

In [53]:
friend_pizzas = pizzas[:]

pizzas.append('Margherita')
friend_pizzas.append('Napoli')

print('My favorite pizzas are:')
for pizza in pizzas:
    print(pizza.title())

print("\nMy friend's favorite pizzas are:")
for pizza in friend_pizzas:
    print(pizza.title())

My favorite pizzas are:
Calzone
Vezuvijaus
Roma
Margherita

My friend's favorite pizzas are:
Calzone
Vezuvijaus
Roma
Napoli

In [55]:
print('The first three items in the list are:', end=' ')
for cube in cubes[:3]:
    print(cube, end=' ')

print('\nThree items from the middle of the list are:', end=' ')
for cube in cubes[2:5]:
    print(cube, end=' ')

print('\nThe last three items in the list are:', end=' ')
for cube in cubes[-3:]:
    print(cube, end=' ')

The first three items in the list are: 1 8 27
Three items from the middle of the list are: 27 64 125
The last three items in the list are: 512 729 1000

In [56]:
foods_tuple = ('potatoes', 'steak', 'cucumbers', 'tomatoes', 'tatarka')
foods_tuple[2] = 'tomatoes'

TypeError: 'tuple' object does not support item assignment

In [58]:
foods_tuple = ('bulgur', 'fried cheese', 'cucumbers', 'tomatoes', 'tatarka')

for food in foods_tuple:
    print(food)

bulgur
fried cheese
cucumbers
tomatoes
tatarka

## To show additionally

List comprehensions with condition

In [62]:
[x**2 for x in range(1, 11) if (x % 2)==0]

[4, 16, 36, 64, 100]

In [64]:
[x**2 if (x % 2)==0 else 0 for x in range(1, 11)]

[0, 4, 0, 16, 0, 36, 0, 64, 0, 100]

In [74]:
data_set = pd.DataFrame({'a':[1, 2, np.nan], 'b': [1, 2, 3]})
data_set

     a  b
0  1.0  1
1  2.0  2
2  NaN  3

In [79]:
data_set['a'] = [x if not np.isnan(x) else 0 for x in data_set['a']]
data_set

     a  b
0  1.0  1
1  2.0  2
2  0.0  3

Dictionary comprehensions + tuples

In [67]:
a = [1, 2, 3]
b = ['a', 'b', 'c']
{b: a for a, b in zip(a, b)}

{'a': 1, 'b': 2, 'c': 3}

In [68]:
{index: value for index, value in enumerate(b)}

{0: 'a', 1: 'b', 2: 'c'}

Tuples use in functions

In [71]:
def mean_and_median(list_numbers):
    mean = np.mean(list_numbers)
    median = np.median(list_numbers)
    
    return mean, median

list_numbers = [1, 11, 100, 2, 5]
mean, median = mean_and_median(list_numbers)
print('\nMean: ', mean, '\nMedian: ', median)

Mean:  23.8
Median:  5.0